{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="container-fluid">

    {% for item in self %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>{{ item.title }}</strong>
                </div>
                <div class="panel-body">
                    {{ item.short_desc }}
                    <p>
                        <a href="{{ page_url }}{{ item.child_slug }}">more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

